.footer {
    background-color: $secondary-light-color;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__logo {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    padding-top: 48px;
    width: 90px;
    height: 122px;

    opacity: 0.9;

    text-decoration: none;
    background-color: $green-ultra-light-opacity;

    & span {
        margin-top: 1px;

        font-family: $roboto;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: 0.045em;
        color: $green-middle-opacity;
    }

    & .footer__logo-text {
        margin-top: 4px;

        font-weight: 400;
        font-size: 7px;
        line-height: 1.14;
    }

    & div {
        display: flex;
    }

    & svg {
        margin-right: 5px;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        background-color: $secondary-color;

        transition: $transition;
        opacity: 1;
    }
}

.footer__copy {
    margin: 0;
    max-width: 180px;

    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    color: $green-middle-opacity;
}

.footer__list {
    @include list();
    margin-top: 42px;

    column-width: auto;
    column-count: 2;
}

.footer__item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__item-link {
    @include hover();

    font-family: $roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: $green-middle-opacity;
}

.footer__social-list {
    @include list();

    display: flex;
    align-items: flex-end;

    & li {
        margin-right: 9px;
    }

    & a {
        opacity: 0.3;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;

            opacity: 1;

            & svg {
                fill: $secondary-color;
            }
        }
    }
}

.footer__link {
    margin-top: 50px;
    width: 201px;
    height: 50px;

    color: $green-middle-opacity;

    border: 2px solid $green-middle-opacity;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

        color: $white;

        background-color: $secondary-color;
        border-color: $secondary-color;
        transition: $transition;
    }
}

.footer__tel-link {
    @include hover();

    font-family: $roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;

    color: $green-middle-opacity;
}
