.hamburger {
  width: $hamburger-size;
  height: 22px;
  position: relative;
}

.hamburger__bar {
  padding: 0;
  width: $hamburger-size;
  height: 2px;
  background-color: $primary-color;
  display: block;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.hamburger__bar--bar1 {
  top: 0;
  transform-origin: 18%;
}

.hamburger__bar--bar2,
.hamburger__bar--bar3 {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger__bar--bar3 {
  right: 0;
}

.hamburger__bar--bar4 {
  bottom: 0;
  transform-origin: 18%;
}

.header__btn--active {
  .hamburger__bar--bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
  }

  .hamburger__bar--bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .hamburger__bar--bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .hamburger__bar--bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
  }
}
