.main {
    padding: 247px 0 125px;
    margin-top: -122px;

    background-image: url("../../img/main.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center top;
}

.main__row {
    display: flex;
    justify-content: space-between;
}

.main__caption {
    margin: 0;
    margin-bottom: 26px;
    margin-top: 12px;
    max-width: 795px;

    font-family: $poppins;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;

    letter-spacing: 2px;
    color: $primary-color;
}

.main__link {
    @include hover();
    width: 201px;
    height: 50px;
    margin-bottom: 55px;

    color: $white;

    background: $secondary-color;
}

.main__list {
    @include list();
    display: flex;
    flex-wrap: wrap;
}

.main__item {
    display: flex;
    align-items: center;
    margin-right: 56px;
    margin-bottom: 14px;

    font-family: $roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    color: $primary-color;

    & svg {
        margin-right: 12px;
    }
}

@media(max-width:$tablet-width) {
    .main {
        padding: 0 0  68px;

        background-position: -440px 2px;
        // background-image: url("../img/main-tablet.png");
    }

    .main__row {
        margin-top: 22px;
    }

    .main__caption {
        margin-top: 3px;
        padding-right: 40px;
        margin-bottom: 17px;
        font-size: 35px;
        letter-spacing: 1.4px;
    }

    .main__link {
        width: 180px;
        height: 40px;
        margin-bottom: 51px;
    }

    .main__item {
        margin-bottom: 15px;
        & svg {
            margin-right: 18px;
            width: 24px;
            height: 24px;
        }
    }
}

@media(max-width:$mobile-width) {
    .main {
        padding: 140px 0 45px;

        background-size: cover;
        background-position: center -2px;
        // background-image: url("../img/main-mobile.png");
    }

    .main__row {
        display: block;
    }

    .main__caption {
        margin: 0 22px 39px;
        padding-right: 0;

        font-size: 25px;
        text-align: center;
        letter-spacing: 0.8px;
    }

    .main__link {
        margin-bottom: 45px;
        width: 100%;
        height: 50px;
    }

    .main__list {
        display: block;
    }

    .main__item {
        display: block;
        margin: 0 auto 17px;

        text-align: center;

        & svg {
            margin: 0 auto 7px;
            display: block;
            width: 20px;
            height: 20px;
        }
    }
}
